.main {
  min-width: 250px;
  background-color: var(--color-seconday);
  display: flex;
  justify-content: center ;
  align-items: center;
  gap: 48px;
  height: 70vh;
  min-height: 720px;
}
.main .main__users{
  background-color: transparent;
  min-height: 700px;
  min-width: 480px;
  max-width: 200px;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 0 16px;
}
.form .card__form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}
.form .title{
  font-size: 2.4rem;
  color: var(--color-tertiary);
  padding-bottom: 32px;
  background-color: transparent;

}

.form .login__error { 
  background-color: transparent;
  font-size: 1.6rem;
  color: var(--color-alert);
  padding-bottom: 10px;
}
.form .card__form form{
  width: 100%;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  
  gap: 28px;
}
.form .card__form form .form__input{
  width: 100%;
  position: relative;
  height: 56px;
  background-color: var(--color-primary);
}
.form .card__form form .form__input label{
  position: absolute;
  padding: 20px;
  font-size: 1.2rem;
  pointer-events: none;
  color: var(--color-disable);
  transition: all 0.3s ease;

}
.form .card__form form .form__input input{
  position: absolute;
  font-size: 1.8rem;
  padding: 18px 20px 4px;
  width: 100%;
  height: 100%;
  outline: none;
  background-color: transparent;
  color: var(--color-tertiary);
}
.form .card__form form .form__input input:focus ~ label,
.form .card__form form .form__input input:not(:placeholder-shown) ~ label{
  padding-top: 4px;
}
.form .card__form form .form__input input::placeholder {
  color: transparent;
}

.form .card__form form .button__submit{
  width: 100%;
  height: 56px;
  background-color: var(--color-action);
  font-size: 1.8rem;
}
.form .card__form form .button__submit:hover{
  background-color: var(--color-action-hover);
  cursor: pointer;

}

.form .card__form form .link__omitir{
  text-align: center;
  font-size: 1.8rem;
  color: var(--color-quaternary);
  background-color: transparent;
}
.form .card__form form .link__omitir a{
  color: var(--color-link);
  background-color: transparent;
}
.form .card__form form .link__omitir a:hover{
  text-decoration: underline;
}
@media (min-width: 768px) {
  .form .card__form form .form__input label {
    font-size: 1.4rem;
  }
}
@media (max-width: 1020px) {
  .main .main__users {
    display: none;
  }
}